%ul.nav.nav-pills{ role: 'tablist' }
  %li{ role: 'presentation' }
    = link_to contacts_path do
      Messages
      %span.badge{ class: current_user.unread_message_count.zero? && 'hide', data: { behaviour: 'update-counters' } }
        = current_user.unread_message_count
  %li{ role: 'presentation' }
    = link_to 'Profile', '#'
  - if can? :manage, User
    %li{ role: 'presentation' }
      = link_to 'Admin Panel', admin_users_path

