%ul.nav.nav-pills{ role: 'tablist' }
  %li{ role: 'presentation' }
    = link_to 'Contacts', '#'
  %li{ role: 'presentation' }
    = link_to '#' do
      Messages
      %span.badge 3
  %li{ role: 'presentation' }
    = link_to 'Profile', '#'
  - if can? :manage, User
    %li{ role: 'presentation' }
      = link_to 'Admin Panel', admin_users_path

